.contador {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #8b8484;
  border-radius: 50px;
  padding: 5px 15px;
  background-color: #fff;
}

.minusButton,
.plusButton {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #000;
  color: #fff;
}

.minusButton {
  background-color: #dae5f2;
  color: #000;
}


.minusButton:hover,
.plusButton:hover {
  background-color: #0056b3;
  transform: scale(1.1);
  opacity: 0.8;
}

.minusButton:disabled,
.plusButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.minusButton:focus,
.plusButton:focus {
  outline: none;
}

.counter {
  padding: 0 10px;
  min-width: 30px;
  text-align: center;
  margin: 0 10px;
  font-size: 1.2rem;
}

