.footer--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(220, 233, 233);
    padding: 0 50px;
    
    .linea {
        display: flex;
        justify-content: center;
        border-top: 1px solid rgb(184, 179, 179);
        margin-top: 20px;
    
    }
    .footer--content{
        display: flex;
        justify-content: center;
        color: rgb(113, 109, 109);
        padding: 50px;
    }

}



