/** RESETS **/
body, ul {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: "Roboto", sans-serif;
}


h1 {
    margin: 0;
}

a {
    outline: none;
    text-decoration: none;
    color: black
}

ul {
    list-style: none;
}

/**----------**/

