/** RESETS **/


body, ul {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: "Poppins", sans-serif;

}


h1,h2,h3,h4 {
    margin: 0;
    font-weight: 400;
}

a {
    outline: none;
    text-decoration: none;
    color: black
}

ul {
    list-style: none;
}

/**----------**/

